<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QuanLyDaoTaoConnectionString"
            connectionString="Data Source=.;Initial Catalog=QuanLyDaoTao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>